html, body {
    background-color: rgb(206, 180, 126);
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
}

header {
    grid-row-start: 1;
    position: relative;
    margin: 0;
    background-image: url(imgs/TSPUD_ReleaseDate_Screenshot_02.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    font-size: 2.5rem;
    font-family: "League Gothic", sans-serif;
    color: white;
    text-shadow: 0.5vh 0.5vh 0.25vh black;
}

header > h1 {
    margin: 1%;
}

header > h2 {
    margin: 1%;
}

nav {
    grid-row-start: 2;
    display: flex;
    align-content: space-around;

    position: sticky;
    top: 0;

    background-color: #3f3628;
}
nav a {
    margin: 0.3% 6%;
    color: white;
    font-family: "League Gothic", sans-serif;
    font-size: 1.2rem;
}
nav a:hover {
    color: rgba(245, 241, 46, 0.89);
    text-decoration: underline;
}

::selection{
    background-color: rgba(245, 241, 46, 0.89);
}

main {
    grid-row-start: 3;
}

#balde {
    width: 25%;
    position: absolute;
    top: 3%;
    right: 3%;
}

.texto {
    background-color: rgba(250, 235, 215, 0.89);
    border: 0.27rem outset #6b5840;
    padding: 3% 2%;
    margin: 2% 5%;
}
main h3 {
    text-align: center;
}

footer {
    grid-row-start: 4;
    background-color: #3f3628;

    color: white;
    font-family: "League Gothic", sans-serif;
    font-size: 2rem;

    padding: 1%;
}